body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 30px;
    color: #417505;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 25px;
    color: #417505;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #417505;
    text-decoration: underline;
}

td,
th {
    border: 1px solid #417505;
    padding: 0.5rem;
    align-items: center;
}

.button {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: .5em;
    border: 0.5px solid #417505;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

th.mon {
    background-color: #417505;
    color: white;
}

th.wed {
    background-color: #417505;
    color: white;
}

th.tue {
    background-color: #417505;
    color: white;
}

th.thu {
    background-color: #417505;
    color: white;
}

button:active {
    background: #417505;
    color: white;
}

.box {
    width: 300px;
}

.searchbutton {
    background-color: #6e8b3d;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.hline-bottom {
    padding-bottom: 10px;
    border-bottom: 3px solid #417505;
    width: 50%;
    align: center;
    margin-left: 25%
}

.logo {
    max-width: 100%;
}

.main-head {
    grid-area: header;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.content {
    padding: 10px;
    grid-area: content;
}

.main-nav {
    padding: 10px;
    grid-area: nav;
}

.side {
    padding: 10px;
    grid-area: sidebar;
}

.side p {
    margin: 0;
}

.ad {
    grid-area: ad;
}

.main-footer {
    grid-area: footer;
}


/* mobile */

.main-nav {
    display: none;
}

.wrapper {
    display: grid;
    padding: 10px;
    grid-gap: 0px;
    grid-template-areas: "nav header" "nav content";
}


/* tablet */

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "nav header" "nav content";
    }
    nav ul {
        flex-direction: row;
    }
}


/* desktop */

@media (min-width: 750px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "nav header" "nav content";
    }
    nav ul {
        flex-direction: row;
    }
}

.main-nav {
    color: white;
}

.content {
    background-color: #efefef;
    border-radius: 4px;
}

.stuff {
    border: 1px;
    border-color: darkgray;
    border-style: solid;
    padding: 10px;
    background-color: white;
}